<%= simple_form_for @product,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :description %>

  <h5 class="border-bottom border-primary">Unidades</h5>

  <table class="table table-units">
    <thead>
    <tr>
      <td>Cor</td>
      <td>Tamanho</td>
      <td>Quantidade</td>
      <td style="width: 1px"><a href="#" class="btn btn-primary btn-sm unit-add">Adicionar</a></td>
    </tr>
    </thead>
    <tbody>
    <%= f.simple_fields_for :units, @product.units do |u| %>
    <tr>
      <td><%= u.association :color, wrapper: false, label: false %></td>
      <td><%= u.association :size, wrapper: false, label: false %></td>
      <td><%= u.input :quantity, wrapper: false, label: false, input_html:{ min: 0 } %></td>
      <td>
        <%= u.input :id, as: :hidden %>
        <a href="#" class="btn btn-danger unit-delete">Excluir</a>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <hr class="border-top border-primary px-3">
  <div class="offset-sm-3 pl-2">
      <%= f.button :submit, class: 'btn-primary' %>
      <%= link_to 'Voltar', products_path, class: 'btn btn-default' %>
  </div>
<% end %>