<h4 class="border-bottom border-primary mb-4 pb-2">
  Produtos
  <%= link_to 'Novo produto', new_product_path, class: 'btn btn-primary btn-sm float-right' %>
</h4>

<% if @products.size.zero? %>
<p>Nenhum produto encontrado</p>
<% else %>
<table class="table">
  <% @products.each do |p| %>
  <thead>
    <tr>
      <th colspan="3" class="border-bottom-0">
        <%= p.name %>
        <small><%= p.description %></small>
      </th>
      <td style="width: 1px; white-space: nowrap">
        <%= link_to 'Editar', edit_product_path(p), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Excluir', product_path(p), class: 'btn btn-sm btn-danger', method: :delete %>
      </td>
    </tr>
  </thead>

  <% p.units.each do |u| %>
  <tbody>
    <tr>
      <td><%= u.color %></td>
      <td><%= u.size %></td>
      <td><%= u.quantity %></td>
      <td class="text-right">
        <%= link_to 'Excluir', unit_path(u), method: :delete, class: 'text-danger mr-2' unless p.units.one? %>
      </td>
    </tr>
  </tbody>
  <% end %>
  <% end %>
</table>
<% end %>

